body {
    width: 100%;
padding: 50px 0;
color: #000;
background: no-repeat center center scroll;
background-image: url("../images/pig_background.jpg");
background-color: #fff;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}

#header {
  font-size: 72px;
  text-align: center;
}
#roll {
  display: none;
}
#player1 {
  display: none;
  float: left;
}
#player2 {
  display: none;
  float: right;
}
#playeronewins {
  display: none;
}
#playertwowins {
  display: none;
}
.lightgrey {
  color: #fff;
}
#dice {
  font-size: 32rem;
  text-align: center;
  /*background: url(../images/pig-silhouette.png);*/
  /*background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 900px;*/
}
