#roll {
  display: none;
}
#player1 {
  display: none;
  float: left;
}
#player2 {
  display: none;
  float: right;
}
#playeronewins {
  display: none;
}
#playertwowins {
  display: none;
}
.lightgrey {
  color: #EBEBEB;
}
#dice {
  font-size: 16rem;
}
