body {
    width: 100%;
padding: 50px 0;
color: #000;
background: no-repeat center center scroll;
background-image: url("http://7-themes.com/data_images/out/62/6984603-pig-pink-minimalism-art-cartoon.jpg");
background-color: #fff;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}

#header {
  font-size: 72px;
  text-align: center;
}
#roll {
  display: none;
}
#player1 {
  display: none;
  float: left;
}
#player2 {
  display: none;
  float: right;
}
#playeronewins {
  display: none;
  text-align: center;
}
#playertwowins {
  display: none;
  text-align: center;
}
.lightgrey {
  color: #fff;
}
#dice {
  font-size: 32rem;
  text-align: center;
}
